.container {
  position: relative;
  margin-top: 106px;
}

.footerBg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, rgba(250, 127, 124, 0.5) -9.44%, rgba(255, 255, 255, 0.6) 75.92%, var(--swm-background) 100%);
  height: 457px;
}

:root[data-theme='dark'] {
  .footerBg {
    background: linear-gradient(0deg, rgba(250, 127, 124, 0.5) -9.44%, #232736 75.92%, var(--swm-background) 100%);
  }
}

[class*='footerLanding'] {
  margin-top: -106px;
}

@media (max-width: 996px) {
  .container {
    margin-top: 121px;
  }

  .footerBg {
    height: 457px;
  }

  [class*='footerLanding'] {
    margin-top: -121px;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 147px;
  }

  .footerBg {
    height: 457px;
  }

  [class*='footerLanding'] {
    margin-top: -147px;
  }
}

@media (max-width: 376px) {
  .container {
    margin-top: 173px;
  }

  .footerBg {
    height: 457px;
  }

  [class*='footerLanding'] {
    margin-top: -173px;
  }
}
