
.container {
  flex-direction: row;
  gap: 80px;
}

.containerInverted {
  flex-direction: row-reverse;
  gap: 80px;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: 2%;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0;
}

.example {
  display: flex;
  width: 50%;
  background-color: var(--swm-red-light-40);
  border-radius: 16px;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
}


